{% extends 'blogsite/main.html' %}

{% block title %}AddBlog {% endblock %}

{% block content %}



<h2 style="font-family: 'Birthstone', cursive; font-size: 50px; text-align: center; text-shadow: 1px 0px black ;">Create new blog</h2>

<div class="container">
    <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <input type="submit" value="Post" class="btn btn-outline-primary" style="padding-left: 20px; padding-right: 20px; margin-left: 40px; border-radius: 15px; margin-bottom: 20px;">
        </form>
    </div>
</div>
    <script>
        let name = "{{user.id}}";
        document.getElementById("user").value = name;
    </script>

{% endblock %}